*,
*::before,
*::after {
  box-sizing: border-box;
}

.colorcard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 1rem auto;
  width: 250px;
}

.colorcard__info {
  background-color: #ced4da;
  height: 8rem;
  width: 8rem;
  border-radius: 1.25rem 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 0.5rem;
  text-transform: capitalize;
}

.colorcard__swatch {
  height: 8rem;
  width: 10rem;
  border-radius: 0 1.25rem 1.25rem 0;
}

.colorcard__info-role {
  margin: 10px 0 0 10px;
  font-size: 1rem;
}

.colorcard__info-name,
.colorcard__info-value {
  margin: 0 0 0 10px;
  font-size: 0.75rem;
}
