.color__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.color__info {
  background-color: #ced4da;
  height: 150px;
  width: 140px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: capitalize;
}

.color__swatch {
  height: 150px;
  width: 180px;
  border-radius: 0 20px 20px 0;
}

.role {
  margin: 10px 0 0 10px;
}

.value {
  margin: 0 0 0 10px;
}
